@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(110.6deg, rgb(156, 116, 129) -18.3%, rgb(67, 54, 74) 16.4%, rgb(47, 48, 67) 68.2%, rgb(27, 23, 36) 99.1%);
	color: #efefef;
	font-size: 16px;
}

.container {
	width: 65%;
	height: 610px;
	margin: 5px;
	border-radius: 12px;
	background-color: #27272b;
}

.container .main-title {
	font-size: 20px;
	font-weight: 400;
	margin: 10px;
	color: #efefef;
	text-align: center;
}

.container .content {
	display: flex;
	justify-content: space-between;
}

.container .content .list {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 25%;
	height: 100%;
	background-color: #2c2c31;
	border-radius: 5px;
	margin: 0 15px;
}

.container .content .list_two {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 25%;
	height: 100%;
	background-color: #2c2c31;
	border-radius: 5px;
	margin: 0 15px;
}

.content .list label {
	display: flex;
	align-items: center;
	height: 40px;
	border-radius: 10px;
	line-height: 60px;
	font-weight: 400;
	cursor: pointer;
	padding-left: 25px;
	z-index: 12;
	transition: all 0.4s ease;
}

.content .list label:hover {
	color: #efefef;
}

#contract:checked ~ .list .contract,
#invoice:checked ~ .list .invoice,
#rate:checked ~ .list .rate,
#business:checked ~ .list .business,
#equipment:checked ~ .list .equipment {
	color: #404040;
}

.container .indicator {
	position: absolute;
	height: 40px;
	width: 100%;
	background: #efefef;
	top: 0;
	left: 0;
	border-radius: 10px;
	transition: all 0.4s ease;
}

#contract:checked ~ .list .indicator {
	top: 0;
}

#invoice:checked ~ .list .indicator {
	top: 40px;
}

#rate:checked ~ .list .indicator {
	top: 80px;
}

#business:checked ~ .list .indicator {
	top: 120px;
}

#equipment:checked ~ .list .indicator {
	top: 160px;
}

.container input[type="radio"] {
	display: none;
}

.container .content .text-content {
	width: 90%;
}

.content .text-content .text {
	display: none;
}

.content .text-content .contract {
	display: block;
}

#contract:checked ~ .text-content .contract,
#invoice:checked ~ .text-content .invoice,
#rate:checked ~ .text-content .rate,
#business:checked ~ .text-content .business,
#equipment:checked ~ .text-content .equipment { 
	display: block;
}

#invoice:checked ~ .text-content .contract,
#rate:checked ~ .text-content .contract,
#business:checked ~ .text-content .contract,
#equipment:checked ~ .text-content .contract {
	display: none;
}
.content .text-content p {
	text-align: justify;
}

.wrapper {
	margin-top: 5px;
}
.contract .contract_info {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 15px;
	width: 95%;		
}

.contract_info .contract_index,
.contract_info .calendar {
	width: 32%;
	margin: 0 0 5px 5px;
	padding: 10px;
	background-color: #404040;
	border-radius: 3px;
	outline: none;
	border: none;
	color: #efefef;
}

.contract .client_info {
	display: flex;
	flex-direction: column;
	width: 95%;	
}

.info {
	margin: 0 0 5px 5px;
	padding: 10px;
	background-color: #404040;
	border-radius: 3px;
	outline: none;
	border: none;
	color: #efefef;
}

.info:hover {
	box-shadow: 0 0 4px #efefd6;
}

.info:disabled {
	background-color: #535353;
	box-shadow: none;
}

.contract .price_info {
	display: flex;
	align-items: center;
	width: 95%;	
}

.price_info .contract_price {
	width: 31%;
	margin: 5px 0 5px 5px;
	padding: 10px;
	background-color: #404040;
	border-radius: 3px;
	outline: none;
	border: none;
	color: #efefef;
}

.price_info .price_words {
	font-style: italic;
	text-align: left;
	margin: 0 0 5px 5px;
}

.choice {
	width: 31%;
	margin: 3px 0 5px 5px;
	padding: 8px;
	background-color: #404040;
	border-radius: 3px;
	outline: none;
	border: none;
	color: #efefef;
}

.choice:focus {
	outline: #efefd6;
}

.choice:hover {
	cursor: pointer;
	box-shadow: 0 0 8px #efefd6;
}

.contract .product_info,
.salon_info {
	display: flex;
	align-items: center;
	gap: 25px;
	width: 95%;	
}

.term_day {
	width: 15%;
	text-align: center;
}

.buttons-contract {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

button {
	height: 35px;
	width: 25%;
	border: none;
	padding: 4px;
	margin: 5px;
	color: #efefef;
	background-color: #404040;
}

button:hover {
	cursor: pointer;
	box-shadow: 0 0 4px #efefd6;
}

button:active {
	box-shadow: none;
}

.buttons-contract,
.buttons-act{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.buttons-contract select,
.buttons-act select {
	width: 20%;
}

.term-details {
	display: none;
}
