@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #404040;
	color: #efefef;
}

.container {
	width: 65%;
	height: 610px;
	margin: 5px;
	padding: 10px;
	border-radius: 12px;
}

.container .main-title {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
	color: #efefef;
}

.container .content {
	display: flex;
	justify-content: space-between;
}

.container .content .list{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 30%;
	margin-right: 20px;
}

.content .list label {
	height: 50px;
	border-radius: 10px;
	line-height: 60px;
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
	padding-left: 25px;
	color: #efefef;
	z-index: 12;
	transition: all 0.4s ease;
}

.content .list label:hover {
	color: #efefef;
}

#contract:checked ~ .list .contract,
#invoice:checked ~ .list .invoice,
#rate:checked ~ .list .rate,
#business:checked ~ .list .business {
	color: #404040;
}

.container .indicator {
	position: absolute;
	height: 60px;
	width: 100%;
	background: #efefef;
	top: 0;
	left: 0;
	border-radius: 10px;
	transition: all 0.4s ease;
}

#contract:checked ~ .list .indicator {
	top: 0;
}

#invoice:checked ~ .list .indicator {
	top: 50px;
}

#rate:checked ~ .list .indicator {
	top: 100px;
}

#business:checked ~ .list .indicator {
	top: 150px;
}

.container input[type="radio"] {
	display: none;
}

.container .content .text-content {
	width: 90%;
	height: 100%;
}

.content .text-content .text {
	display: none;
}

.content .text-content .contract {
	display: block;
}

#contract:checked ~ .text-content .contract,
#invoice:checked ~ .text-content .invoice,
#rate:checked ~ .text-content .rate,
#business:checked ~ .text-content .business {
	display: block;
}

#invoice:checked ~ .text-content .contract,
#rate:checked ~ .text-content .contract,
#business:checked ~ .text-content .contract {
	display: none;
}
.content .text-content p {
	text-align: justify;
}

.content .text-content .title {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
}

.input-info {
	width: 65%;
	max-width: 95%;
}

input{
	margin-bottom: 6px;
	font-size: 14px;
	padding: 4px;
	border-width: 0 0 2px 0;
	border-style: solid;
	border-color: #efefef;
	background: #404040;
	color: #efefef;
	outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.price-words {
	margin-bottom: 10px;
	font-style: italic;
	max-width: 95%;
	text-align: left;
	font-size: 14px;
}

button {
	display: block;
	height: 45px;
	width: 25%;
	border-radius: 8px;
	font-size: 14px;
	padding: 4px;
	border: 1px solid #202020;
	margin: 5px;
	color: #efefef;
	background-color: #333333;
}

button:hover {
	cursor: pointer;
	box-shadow: 0 0 8px #efefd6;
}

button:active {
	box-shadow: none;
}

select {
	height: 30px;
	width: 45%;
	margin-bottom: 8px;
	border-radius: 8px;
	font-size: 14px;
	padding: 5px;
	border: 1px solid #202020;
	background-color: #333333;
	color: #efefef;
}

select:focus {
	outline: #efefd6;
}

select:hover {
	cursor: pointer;
	box-shadow: 0 0 8px #efefd6;
}


.term {
	width: 8%;
	text-align: center;
	margin-left: 5px;
}

.term-label,
.term-details label {
	margin-left: 25px;
}

.buttons-contract,
.buttons-act{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.buttons-contract select,
.buttons-act select {
	width: 20%;
}

.term-details {
	visibility: hidden;
}
