@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #dad3f8;
}

.container {
	max-width: 850px;
	width: 100%;
	min-height: 500px;
	margin: 0 20px;
	background: #fff;
	padding: 30px 5px 5px 30px;
	border-radius: 12px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .main-title {
	font-size: 25px;
	font-weight: 400;
	margin-bottom: 20px;
}

.container .content {
	display: flex;
	justify-content: space-between;
}

.container .content .list{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 25%;
	margin-right: 25px;
}

.content .list label {
	height: 50px;
	border-radius: 12px;
	line-height: 60px;
	font-size: 19px;
	font-weight: 400;
	cursor: pointer;
	padding-left: 25px;
	color: #333;
	z-index: 12;
	transition: all 0.4s ease;
}

.content .list label:hover {
	color: #6d50e2;
}

#contract:checked ~ .list .contract,
#invoice:checked ~ .list .invoice,
#rate:checked ~ .list .rate,
#business:checked ~ .list .business {
	color: #fff;
}

.container .indicator {
	position: absolute;
	height: 60px;
	width: 100%;
	background: #6d50e2;
	top: 0;
	left: 0;
	border-radius: 12px;
	transition: all 0.4s ease;
}

#contract:checked ~ .list .indicator {
	top: 0;
}

#invoice:checked ~ .list .indicator {
	top: 50px;
}

#rate:checked ~ .list .indicator {
	top: 100px;
}

#business:checked ~ .list .indicator {
	top: 150px;
}

.container input[type="radio"] {
	display: none;
}

.container .content .text-content {
	width: 80%;
	height: 100%;
}

.content .text-content .text {
	display: none;
}

.content .text-content .contract {
	display: block;
}

#contract:checked ~ .text-content .contract,
#invoice:checked ~ .text-content .invoice,
#rate:checked ~ .text-content .rate,
#business:checked ~ .text-content .business {
	display: block;
}

#invoice:checked ~ .text-content .contract,
#rate:checked ~ .text-content .contract,
#business:checked ~ .text-content .contract {
	display: none;
}
.content .text-content p {
	text-align: justify;
}

.content .text-content .title {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
}

#contract-text{
	width: 45%;
}

#myDate {
	width: 26%;
}

#client,
#adress,
#price{
	display: block;
}

#client,
#adress,
#telephone {
	min-width: 75%;
}

input[type='text'],
#myDate{
	margin-bottom: 10px;
	border-radius: 8px;
	font-size: 14px;
	padding: 10px;
	border: 1px solid #6d50e2;
}

input[type='text']:focus,
#myDate:focus,
#product:focus {
	outline: #6d50e2;
}

#price-words {
	margin-bottom: 10px;
	font-style: italic;
}

button {
	display: block;
	width: 20%;
	border-radius: 8px;
	font-size: 16px;
	padding: 10px;
	border: 1.5px solid #6d50e2;
}

button:hover {
	cursor: pointer;
	color: #fff;
	background-color: #6d50e2;
}

select {
	height: 40px;
	width: 25%;
	margin-bottom: 10px;
	border-radius: 8px;
	font-size: 14px;
	padding: 5px;
	border: 1px solid #6d50e2;
}

select:focus {
	outline: #6d50e2;
}

#term {
	width: 8%;
	text-align: center;
	margin-left: 5px;
}

#term-label {
	margin-left: 25px;
}